.grid-intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 50px;
  font-family: "Roboto";
}
.grid-welcome {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  color: white;
  background-color: #448ccb;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.grid-picture {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  display: grid;
  grid-template-rows: 200px 1fr;
}
.grid-welcome-name {
  font-size: 30px;
  padding: 20px;
  font-weight: 700;
}
.grid-welcome-name:after {
  content: "";
  display: block;
  width: 15%;
  padding-top: 20px;
  border-bottom: 8px solid white;
}
.grid-welcome-learn {
  justify-self: end;
  align-self: end;
  padding: 10px;
}
.grid-welcome-text {
  padding: 10px;
}
.grid-picture-text {
  background-color: #d7d7d7;
  display: grid;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  grid-template-rows: 1fr 4fr;
}
.grid-picture-image {
  grid-row-start: 1;
  grid-row-end: 2;
}
.grid-picture-text-header {
  font-size: 30px;
  font-weight: 900;
}
@media screen and (max-width: 1200px) {
  .grid-intro {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 5%;
    padding-right: 5%;
  }
  .grid-welcome {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .grid-picture {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-rows: 200px 1fr;
  }
  .grid-picture-image {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .grid-picture-text {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
