@import "../Styles/variables";

.gridContact {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 40px 1fr 1fr 2fr 1fr;
  padding-left: 24%;
  padding-right: 24%;
  padding-top: 5%;
  padding-bottom: 5%;
  gap: 50px;
  color: black;
  font-family: "Roboto";

  .gridContactName {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-weight: 900;
    font-size: 30px;

    &::after {
      content: "";
      display: block;
      width: 15%;
      padding-top: 20px;
      border-bottom: 8px solid black;
    }
  }
  .gridContactText {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
    padding-top: 10px;
  }
  .gridContactForm {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
    font-weight: 600;

    .gridContactFormEmail {
      width: 100%;
      box-sizing: border-box;
      border: solid 2px;
      border-color: $GreyBackground;
      &:focus {
        outline: none;
        border-color: black;
      }
    }
    .gridContactFormSmalltext {
      width: 100%;
      box-sizing: border-box;
      border: solid 2px;
      border-color: $GreyBackground;
      &:focus {
        outline: none;
        border-color: black;
      }
    }
    .gridContactFormBigtext {
      width: 100%;
      height: 150px;
      box-sizing: border-box;
      border: solid 2px;
      border-color: $GreyBackground;
      resize: none;
      &:focus {
        outline: none;
        border-color: black;
      }
    }
    .gridContactFormLearn {
      padding-top: 20px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .gridContact {
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 1fr;
    padding-left: 5%;
    padding-right: 5%;

    .gridContactName {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .gridContactText {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .gridContactForm {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
  .contactButton {
    width: 100%;
  }
}
