@import "./variables";

.learnButton {
  background-color: white;
  display: block;
  border-style: solid;
  border-color: $BlueBackground;
  color: $BlueBackground;
  width: 180px;
  height: 40px;
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .NavLink {
    color: $BlueBackground;
    text-decoration: none;
    &:hover,
    &::after {
      text-decoration: none;
    }
  }
}
