@import "./variables";

.learnButton {
  background-color: white;
  display: block;
  color: $BlueBackground;
  border-style: solid;
  border-color: $BlueBackground;
  width: 200px;
  height: 40px;
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
  padding: 10px 5px;
}
