.page {
  background-color: white;
  color: black;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Roboto";
}
.grid-page-template {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-page-name {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: start;
  font-size: 30px;
  font-weight: 900;
}
.grid-page-button {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
}
.grid-page-text {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 9;
  justify-self: start;
}
