.gridHomepagebody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px repeat(4, minmax(50px, 1fr));
  color: black;
  padding-left: 24%;
  padding-right: 24%;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
  font-weight: 900;
  font-family: "Roboto";

  .gridProducts {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 30px;
  }
  .gridOffers {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 20px;
  }
  .gridWeather {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 7;
  }
  .gridCoffee {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url("../Images/coffeecup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .gridBooks {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    background-image: url("../Images/books.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}
.backgroundText {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: rgba(215, 215, 215, 0.8);
  padding: 2% 2%;
  .text {
    align-self: center;
    font-size: 30px;
    font-weight: 900;
  }
}

img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .gridHomepagebody {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 1.5fr 1fr 1fr;
    padding-left: 5%;
    padding-right: 5%;

    .gridProducts {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .gridOffers {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .gridWeather {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    .gridCoffee {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 4;
      grid-row-end: 5;
    }
    .gridBooks {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 5;
      grid-row-end: 6;
    }
  }
}
