@import "./variables";

.gridIntro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 50px;
  font-family: "Roboto";
}
.gridWelcome {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  color: white;
  background-color: $BlueBackground;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 2fr;

  .gridWelcomeName {
    font-size: 30px;
    padding: 20px;
    font-weight: 700;
    &:after {
      content: "";
      display: block;
      width: 19%;
      padding-top: 20px;
      border-bottom: 8px solid white;
    }
  }
  .gridWelcomeLearn {
    justify-self: end;
    align-self: end;
    padding: 10px;
  }
  .gridWelcomeText {
    padding: 10px;
  }
}
.gridPicture {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  display: grid;
  grid-template-rows: 200px 1fr;

  .gridPictureText {
    background-color: $GreyBackground;
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-template-rows: 1fr 4fr;

    .gridPictureTextHeader {
      font-size: 30px;
      font-weight: 900;
    }
  }
  .gridPictureImage {
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 1200px) {
  .gridIntro {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    padding-left: 5%;
    padding-right: 5%;

    .gridWelcome {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .gridPicture {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-template-rows: 200px 1fr;

      .gridPictureImage {
        grid-row-start: 1;
        grid-row-end: 2;
      }
      .gridPictureText {
        grid-row-start: 2;
        grid-row-end: 3;
      }
    }
  }
}
